<p id="notice"><%= notice %></p>

<h1>Shipments</h1>

<table>
  <thead>
    <tr>
      <th>Order number</th>
      <th>Vendor</th>
      <th>Tracking number</th>
      <th>Address</th>
      <th>Zipcode</th>
      <th>Delay status</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @shipments.each do |shipment| %>
      <tr class="<%= shipment.delay_status(@delay_timing_stats) %>">
        <td><%= shipment.order_number %></td>
        <td><%= shipment.vendor.name %></td>
        <td><%= shipment.tracking_number %></td>
        <td><%= shipment.address %></td>
        <td><%= shipment.zipcode %></td>
        <td><%= shipment.delay_status(@delay_timing_stats) %></td>
        <td><%= link_to 'Mark as delivered', 'shipments/'+ shipment.id.to_s + '/deliver', method: :post, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Shipment', new_shipment_path %>
